<section class="ae-container-fluid rk-main">
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
      <img src="assets/img/repair.png" alt="" />
      <div class="item-meta">
        <h2>Página en Mantenimiento</h2>
        <p>Maintenance page</p>
      </div>

      <div class="Descarga">
        <h5>Actualmente nuestra página web se encuentra en mantenimiento.</h5>
        <h6>Si desea descargar nuesrtra app</h6>
        <button>
          ClubMe App
        </button>
      </div>
      <!--  <a href="portfolio-item.html" class="rk-item ae-masonry__item"
        ><img src="assets/img/project-3.jpg" alt="" />
        <div class="item-meta">
          <h2>Waistcoat vegan</h2>
          <p>Graphic Design</p>
        </div></a
      > -->
    </div>
  </section>
</section>
